In [6]:
--- Feladat 1
SELECT szh.TIPUS, ROUND(COUNT(*),-2) as 'Darab'
FROM Foglalas f JOIN Szoba sz on f.SZOBA_FK = sz.SZOBA_ID
                JOIN Szallashely szh on sz.SZALLAS_FK = szh.SZALLAS_ID
GROUP BY szh.TIPUS
HAVING ROUND(COUNT(*),-2) < 500

TIPUS,(No column name)
Apartman,100
vendégház,100
panzió,200

In [20]:
--- Feladat 2

SELECT CASE
            WHEN YEAR(v.SZUL_DAT) > 1985 THEN 'fiatal'
            WHEN YEAR(v.SZUL_DAT) < 1970 THEN 'idős'
            ELSE 'középkorú'
        END AS 'Kategória',
        count(*) as 'Szám'

FROM Foglalas f JOIN Vendeg v on f.UGYFEL_FK = v.USERNEV
WHERE (f.FELNOTT_SZAM + f.GYERMEK_SZAM) > 1
GROUP BY CASE
            WHEN YEAR(v.SZUL_DAT) > 1985 THEN 'fiatal'
            WHEN YEAR(v.SZUL_DAT) < 1970 THEN 'idős'
            ELSE 'középkorú'
        END

Kategória,Szám
fiatal,342
idős,96
középkorú,442